body{
font-family: Arial, sans-serif;
width:250px;
padding:10px;
background:#f2f2f2;
}

h2{
text-align:center;
color:#333;
}

button{
width:100%;
padding:8px;
background:#4CAF50;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
margin-bottom:10px;
}

button:hover{
background:#45a049;
}

ul{
list-style:none;
padding:0;
}

li{
background:white;
margin:5px 0;
padding:6px;
border-radius:5px;
font-size:14px;
}